<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      マイUタピ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-list>
    <ion-item>
      <div style="margin: 2em auto;text-align: center;">
        <ion-avatar style="width: 7em;height: 7em;margin: 0 auto;">
          <img src="assets/icons/icon-512x512.png">
        </ion-avatar>
        <p>Uタピをお使い頂きありがとうございます</p>
      </div>
    </ion-item>
    <ion-item [routerLink]="['/tabs/tab1']">
      <ion-label>注文履歴</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/tabs/tab1']">
      <ion-label>店舗住所</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/tabs/tab1']">
      <ion-label>ヘルプ</ion-label>
    </ion-item>
  </ion-list>
  <div style="text-align: center;padding: 0 1em;">
    <p style="color: gray;">
        * 当アプリは日本工学院専門学校における卒業制作の成果物です。
        実際に注文するといったご利用はしないよう予めご了承くださいますようお願い申し上げます。
    </p>
    <p>
        Team: Tapioka <br>
        Varsion: 1.0.0-beta
    </p>
  </div>
</ion-content>