<ion-list lines="none" *ngFor="let products of productClass">
    <ion-list-header>
      <ion-label>{{products.className}}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let product of products.productList">
      <ion-thumbnail slot="start">
          <img src="{{product.productImg}}">
        </ion-thumbnail>
      <ion-label>
        <h2>{{product.productName}}</h2>
        <p>{{product.productDesc}}</p>

        <ion-item>
            <ion-label>¥{{product.productPrice}}円</ion-label>
            <ion-select placeholder="数量選択" value="{{product.productNumber}}" (ionChange)="changeNumber(product.productID, $event.detail.value)">
              <ion-select-option value="0">0</ion-select-option>
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
            </ion-select>
        </ion-item>
        
      </ion-label>
      
    </ion-item>
</ion-list>

<ion-toolbar style="text-align: center;" *ngIf="!isLoading">
  <ion-label>
      カートの小計（商品{{totalNumber}}点）: ￥ {{totalPrice | number}}円
  </ion-label>
  <br>
  <ion-button (click)="toCartPage()">レジに進む</ion-button>
</ion-toolbar>
