<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="戻る"></ion-back-button>
    </ion-buttons>
    <ion-title>店舗住所</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3245.556898295572!2d139.7131679147428!3d35.564644043965515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60186043463ac57b%3A0x39d23c6afc7e68a8!2z5pel5pys5bel5a2m6Zmi5bCC6ZaA5a2m5qCh!5e0!3m2!1sja!2sjp!4v1575434886436!5m2!1sja!2sjp"
    width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</ion-content>